<div id="contact" class="contato-container">
    <div class="contato">
        <div class="contato-title">
            <h1>Contato e Redes Sociais</h1>
        </div>
        <div class="contato-dados-container">
            <div class="dados-direction">
                <app-contatos-dados
                    ContactImg="assets/phone.png"
                    ContactTitle="Telefone"
                    contactLink="https://wa.me/+5581998137164/"
                    ContactDesc="(81) 9 9813-7164">
                </app-contatos-dados>
                <app-contatos-dados
                    ContactImg="assets/mail.png"
                    ContactTitle="Email"
                    contactLink="mailto:antonygcabral@gmail.com"
                    ContactDesc="antonygcabral@gmail.com">
                </app-contatos-dados>
                <app-contatos-dados
                    ContactImg="assets/linkedin.png"
                    ContactTitle="LinkedIn"
                    contactLink="https://www.linkedin.com/in/antony-guilherme/"
                    ContactDesc="antony-guilherme">
                </app-contatos-dados>
                <app-contatos-dados
                    ContactImg="assets/github.png"
                    ContactTitle="GitHub"
                    contactLink="https://github.com/antonycabral"
                    ContactDesc="antonycabral">
                </app-contatos-dados>
            </div>
        </div>
        <div class="img-container">
            <img src="assets/img04.png" alt="" class="contato-img">
        </div>
    </div>
</div>
