<div id="tec" class="tec-container">
    <div class="tec-title">
        <h1>Tecnologias Utilizadas</h1>
    </div>
    <div class="tecCard">
        <tec-app-card
        tecNumber="1"
        tecTitle="Linguagem de Programação"
        tecDesc="Java, Node.Js, Go Lang, Python"
        ></tec-app-card>
        <tec-app-card
        tecNumber="2"
        tecTitle="Frameworks e Bibliotecas"
        tecDesc="Spring Boot, Angular, Django, Flask"
        ></tec-app-card>
        <tec-app-card
        tecNumber="3"
        tecTitle="Bancos de Dados"
        tecDesc="PostgreSQL, MySQL, MongoDB, H2"
        ></tec-app-card>
        <tec-app-card
        tecNumber="4"
        tecTitle="Nuvem e DevOps"
        tecDesc="AWS, Docker, Kubernetes, Git"
        ></tec-app-card>
    </div>
</div>
