<div id="tec" class="tec-container">
    <div class="tec-title">
        <h1>Tecnologias Utilizadas</h1>
    </div>
    <div class="tecCard">
        <tec-app-card
        tecNumber="1"
        tecTitle="Linguagem de Programação"
        tecDesc="Python, JavaScript, Java, PHP, TypeScript, SQL, C++"
        ></tec-app-card>
        <tec-app-card
        tecNumber="2"
        tecTitle="Frameworks e Bibliotecas"
        tecDesc="React, Angular, Vue.js, Node.js, Django, Flask, Spring Boot, Laravel"
        ></tec-app-card>
        <tec-app-card
        tecNumber="3"
        tecTitle="Bancos de Dados"
        tecDesc="PostgreSQL, MySQL, MongoDB, Redis, Cassandra"
        ></tec-app-card>
        <tec-app-card
        tecNumber="4"
        tecTitle="Nuvem e DevOps"
        tecDesc="AWS, Azure, Google Cloud, Docker, Kubernetes, Git"
        ></tec-app-card>
    </div>
</div>
