.tec-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;

    & .tec-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;

        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    & .tecCard{
        width: 70vw;
        height: 50vh; /* Ajuste a altura conforme necessário */
        display: flex;
        flex-wrap: wrap; /* Permite que os itens sejam distribuídos em várias linhas */
        align-items: center;
        justify-content: space-around; /* Espaça os itens uniformemente */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
        border-radius: 15px;
        flex-direction: row;
    }

    .tecCard tec-app-card {
        width: 45%; /* Ajuste a largura para caber dois itens por linha */
        /* Espaçamento entre os itens */
    }
}