<div id="skills" class="hab-container">
    <div class="habi-title">
        <h1>Minhas Habilidades</h1>
    </div>
    <div class="appcard">
        <app-card habiTitle="Desenvolvimento Front-End" habiDesc="Domínio em HTML, CSS, TypeScript, Angular, Thymeleaf e Bootstrap, criando interfaces responsivas e interativas.">
        </app-card>
        <app-card habiTitle="Desenvolvimento Back-End" habiDesc="Experiência em Java, Node.Js, Go lang e bancos de dados como PostgreSQL e MySQL, construindo APIs robustas e escaláveis."></app-card>
        <app-card habiTitle="DevOps" habiDesc="Conhecimento em Docker, Kubernetes e AWS, automatizando processos de deploy e monitoramento de aplicações."></app-card>
        <app-card habiTitle="Metodologias Ágeis" habiDesc="Experiência em Scrum e Kanban, trabalhando em times multidisciplinares e entregando valor de forma contínua."></app-card>
    </div>
</div>
