<div id="servico" class="servico-container">
    <div class="servico-title">
        <h1>Serviços Oferecidos</h1>
    </div>
    <div class="card-servico">
        <app-card-servico
        servTitle="Desenvolvimento Web"
        servDesc="Desenvolvimento de sites e sistemas web, utilizando as tecnologias mais atuais do mercado."
        ></app-card-servico>
        <app-card-servico
        servTitle="Desenvolvimento Mobile"
        servDesc="Construção de aplicativos mobile nativos para iOS e Android, com interfaces intuitivas e funcionalidades personalizadas."
        ></app-card-servico>
        <app-card-servico
        servTitle="Integração de APIs"
        servDesc="Conexão de sistemas e serviços externos, utilizando APIs para automatizar processos e obter dados de forma eficiente."
        ></app-card-servico>
        <app-card-servico
        servTitle="Consultoria em Tecnologia"
        servDesc="Orientação estratégica para empresas, auxiliando na escolha das melhores soluções tecnológicas para seus desafios."
        ></app-card-servico>
    </div>
</div>