.card-tech-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens no início */

    & .box-topic{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start; /* Alinha os itens no início */
        width: 100%; /* Ocupa toda a largura do container */


        & .number{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #5A6ED8;
            margin-left: 15px;
        }
    }

    .text-container{
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha o texto à esquerda */
        justify-content: center;
        margin-left: 5px; /* Espaço entre o número e o texto */

        & .topic-title{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}