.navbar {
    background-color: #00042863;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinha o conteúdo com espaço entre eles */
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: row;
    }
}

.navbar ul {
    list-style-type: none; /* Remove marcadores da lista */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimento */
    display: flex; /* Alinha os itens na horizontal */
    align-items: center;

    @media (max-width: 768px) {
        display: none; /* Esconde o menu por padrão em telas menores */
        flex-direction: column; /* Muda para coluna em telas menores */
        width: 100%; /* Largura total em telas menores */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }
}

.navbar.active ul {
    display: flex; /* Exibe o menu lateral quando a classe 'active' é adicionada */
}

.navbar .hamburger {
    display: none; /* Esconde o ícone hamburguer por padrão */

    @media (max-width: 768px) {
        display: flex; /* Exibe o ícone hamburguer em telas menores */
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 20px; /* Ajusta o espaçamento à direita */
    }
}

.navbar li {
    margin-right: 20px; /* Espaçamento entre os itens */

    @media (max-width: 768px) {
        margin-right: 0; /* Remove o espaçamento lateral em telas menores */
        margin-bottom: 10px; /* Adiciona espaçamento entre os itens */
    }
}

.navbar a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */

    @media (max-width: 768px) {
        font-size: 1.1rem; /* Ajusta o tamanho da fonte */
    }
}

.navbar a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.3s linear;
}

/* Controle do menu lateral */
@media (max-width: 768px) {
    .navbar.active {
        background-color: #00042827; /* Cor de fundo do menu lateral */
    }
    .navbar.active .hamburger {
        display: none; /* Esconde o hamburguer quando o menu lateral está ativo */
    }
    .navbar.active ul {
        display: flex; /* Exibe o menu lateral quando a classe 'active' é adicionada */
        flex-direction: column; /* Muda a direção para coluna */
        position: absolute; /* Para que o menu não empurre o conteúdo */
        top: 60px; /* Distância do topo */
        left: 0; /* Alinhamento à esquerda */
        background: rgba(0, 0, 0, 0.9); /* Fundo do menu lateral */
        width: 100%; /* Largura total do menu lateral */
        z-index: 1001; /* Sobreposição acima de outros elementos */
    }
}
