<nav class="navbar">
  <div class="hamburger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul [ngClass]="{'active': menuActive}">
    <li><a (click)="scrollToSection('title')">Início</a></li>
    <li><a (click)="scrollToSection('skills')">Minhas Habilidades</a></li>
    <li><a (click)="scrollToSection('projects')">Projetos Recentes</a></li>
    <li><a (click)="scrollToSection('tec')">Tecnologias</a></li>
    <li><a (click)="scrollToSection('servico')">Serviços</a></li>
    <li><a (click)="scrollToSection('contact')">Contato</a></li>
  </ul>
</nav>