.navbar {
    background-color: #00042863; /* Cor de fundo escura com transparência */
    padding: 10px 20px; /* Espaçamento interno */
    position: fixed; /* Fixa o menu no topo */
    top: 0;
    width: 100%; /* Largura total */
    z-index: 1000; /* Garante que fique acima de outros elementos */

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar ul {
    list-style-type: none; /* Remove marcadores da lista */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimento */
    display: flex; /* Alinha os itens na horizontal */
    align-items: center;
}

.navbar li {
    margin-right: 20px; /* Espaçamento entre os itens */
}

.navbar a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
}

.navbar a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
