<div id="projects" class="project-container">
    <div class="project-title">
        <h1>Projetos recentes</h1>
    </div>
    <div class="projetos-card">
        <app-projeto-card
        projectCover="assets/img02.png"
        projectTitle="Apoia+"
        projectDesc="site de serviço e facilitação de acesso pscicologico a pessoas de classes vulneraveis"
        ></app-projeto-card>
        <app-projeto-card projectCover="assets/img03.png"
        projectTitle="Sistema de HR"
        projectDesc="Sistema de gerenciamento de recursos humanos"
        ></app-projeto-card>
        <app-projeto-card projectCover="assets/img03.png"
        projectTitle="Sistema de HR"
        projectDesc="Sistema de gerenciamento de recursos humanos"
        ></app-projeto-card>
    </div>
</div>