/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: linear-gradient(to bottom, 
        #000000,          /* Preto */
        #1a1a5a,         /* Tom intermediário 1 */
        #333399,         /* Tom intermediário 2 */
        rgb(0, 0, 48)); 
}